*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ubuntu';
}
.wrapper{
    width: 60%;
    /* background-color: #d4c4c4;  */
    margin: 5rem auto;
    border-radius: 20px;
    /* box-shadow: 5px 5px 5px #d1caca;  */
    
}
header{
    text-align: center;
    padding: 2em 1.5em;
    border: 2px solid #000;
    border-radius: 20px;
    background-color: #fff;
}
form{
    margin-left: -1.45rem; 
}
input[type="text"]{
    background-color: #dbcdcd;
    padding: .2em .5em;
    font-size: .9rem;
    margin-top: 10px;
    border: transparent;
    border-radius: 2px;
}
button{
    padding: .2em .5em;
    font-size: .9rem;
    margin-top: 10px;
    border: transparent;
    border-radius: 2px;
    background-color: #dbcdcd;
}
.activities{
    margin: 0 .1em ;
    padding: 20px;
}
/* JavaScript element */
li{
    list-style-type: none;
    line-height: 1.4;
    margin-top: .5em;
}
.status, .cancel{
    float: right; 
    border: 1px solid #5c5a5a;
    padding: 0 .2em;
    cursor: pointer;

}
    
